div {
  text-align: center;
}

body {
  background: url(https://www.dropbox.com/s/u0weq1788o9ygv7/rain-455120_1920.jpg?raw=1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
